/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
ul li .navbar-option:hover{    
      border-bottom: 3px solid #F3AB36;
      background-color:none;
      /*color: #0064A6;*/
    }

   ul li a:hover i{
      color: #F3AB36;
    }


    .bold{
      font-weight: bold;
    }

    .opacity{
      opacity: 0.6;
    }

    .transparente{
      opacity:0;
    }

    .color-fondo{
      background-color: #eceff1;
    }

     .options:hover{
      border-bottom: 2px solid #F3AB36;
      border-left:2px solid #008551;
    }

    .options2:hover{
      background-color:#e0e0e0;
      border-bottom: 2px solid #F3AB36;
      border-left:2px solid #008551;
      padding-left: 2px;
    }

    .options3:hover{
      background-color:#fff;
    }

    .options4:hover{
      border-bottom: 2px solid #F3AB36;
      border-left:2px solid #008551;
      color:#0064A6;
    }

    .options4:focus i.{
      color:#0064A6;
    }

    /*.options4{
      color:#0064A6;
    }*/

    .yellow-icon{
      color:#F3AB36;
    }
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
